*
!/.gitignore
!/README.md
!/LICENSE
!/VERSION
!/CHANGELOG.md
!/PRIVACY.md
!/CONTRIBUTING.md
!/skills/
!/skills/book-companion/
!/skills/book-companion/SKILL.md
!/skills/book-companion/agents/
!/skills/book-companion/agents/openai.yaml
!/skills/book-companion/references/
!/skills/book-companion/references/writing-method.md
!/skills/book-companion/references/project-protocol.md
!/skills/book-companion/references/materials.md
!/skills/book-companion/references/review.md
!/skills/book-companion/scripts/
!/skills/book-companion/scripts/book_state.py
!/tests/
!/tests/test_book_state.py
!/tests/test_release.py
!/tools/
!/tools/build_release.py
!/docs/
!/docs/RELEASE.md
!/docs/TESTING.md
!/docs/EVALUATION.md
